# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# Virtualenvs
venv/
.venv/
env/
ENV/

# Env
.env

# IDE
.vscode/
.idea/
*.swp

# Dados locais
data/*.db
data/master_test/
data/test_timing/
data/screenshots/
data/reports/
data/test_cli/
data/scan_*.json
!data/reports/.gitkeep
!data/screenshots/.gitkeep

# OS
Thumbs.db
.DS_Store
